.vs/FTLMultiverseArchipelago/CopilotIndices
.vs/FTLMultiverseArchipelago
.vs
mods/modorder.json
mods/Multiverse.5.5.-.Assets.Patch.above.Data.zip
mods/Multiverse.5.5.-.Data.zip
ftlman.exe
settings.json
info/.obsidian
mods/Super Magic Hat 1.2.2
*.apworld
*.zip
