.vs/FTLMultiverseArchipelago/CopilotIndices
.vs/FTLMultiverseArchipelago
.vs
mods/modorder.json
mods/Multiverse.5.5.-.Assets.Patch.above.Data.zip
mods/Multiverse.5.5.-.Data.zip
ftlman.exe
settings.json
